<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ⚠️ Разрешения сети (для карт/поиска обязательно) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- (опционально) если будешь показывать позицию пользователя на карте -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> -->

    <application
        android:label="ido"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- ✅ Ключ API Яндекс.Карт -->
        <meta-data
            android:name="com.yandex.android.maps.apikey"
            android:value="56f05f88-3e29-4cc1-9533-9f1daf4b099e"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Не удалять: нужно Flutter'у -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
